.site-wrapper {
	@include container();
	width: 100%;
	height: calc(100% - 3rem);
}

.shade {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,.2) 100%);
}

//Grid
//------
///@group grid
///fluid container full width
.container-fluid {
	@include container();
}

//Grid
//------
///@group grid
///fixed container
.container {
	@include container($container);
}