section.about
	article
		h1 Touche' wine bar & kitchen
		p. 
			Touche’ расположился на территории Трехгорной мануфактуры, став еще одним весомым поводом для поездки на Родчельскую. Владелица проекта — выпускница школы Ragout Лариса Мамедова и ее партнер и шеф-повар Тарас Кириенко, сделали ставку на демократичное винное место.
		p. 
			Touche’ — место, где встречаются друзья. Концепция проекта сформировалась очень быстро, и все внутренние процессы выстраивались вокруг нее. Меню, например, условно разделено на две части. В одной из них блюда рассчитаны на одного человека, в другой - много закусок, которые удобно делить на компанию. В винной карте большая подборка бокальных позиций благодаря системе coravin, что позволяет каждому гостю продегустировать вина, ориентируясь только на свой вкус. 

		p. 
			С распределением главных ролей здесь все просто. Лариса Мамедова — идейный вдохновитель, ее часто можно встретить в зале за общением с гостями, на кухне карт-бланш у Тараса Кириенко.
		p. 
			Тарас создавал меню, не следуя лишь одному гастрономическому направлению. Его блюда — это авторское прочтение мировых трендов, современные технологии и многолетний опыт работы. Помимо основного меню в баре действует специальное обеденное, действующее ежедневно с 12:00 до 16:00.
		p. 
			Винная карта включает 245 позиций и рассчитана как на знатоков, так и на любителей. Ценовой диапазон очень широкий и берет свое начало с категории «демократично» от 1100 рублей за бутылку, заканчивая бордоскими и супертосканскими винами свыше 100 000 рублей. В целом, если познания в вине только начинают формироваться, то именно здесь можно экстерном получить высшее винное образование. В подборке широко представлен Старый и Новый Свет, вина российских производителей, ну и конечно же, модная органика и биодинамика.
		p.
			Еще один мастерский выпад — интерьер. Им занималась команда архитектурного бюро POLYGON. Дизайнерам удалось уловить и точно передать настроение проекта. Темные тона, мягкий свет, много стекла, большие винные шкафы вдоль бетонных стен — здесь хочется сидеть у окна, пить любимое вино и не смотреть на часы…
		p.
			Последняя атака — магазин №22, расположенный дверь в дверь с Touche'. Там продается все, что нужно жителю Трехгорки — блюда из ресторана, завтраки, свежий кофе, молочные продукты. Быстро и удобно.
		br
	button.btn.close-about Закрыть
