footer#site-footer
	.bottom 
		span.
			Все права защищены. Guliani Group Москва 2017
	script(js/main-min.js)

	script(type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")