footer#site-footer
	.bottom 
		span.
			Все права защищены. Touche Москва 2017
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js")
	script(src="js/main-min.js")
	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")