section.gallery
	.item
		img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")
	//- .item
	//- 	img(src="images/gal-img.png", alt="photo")