section.projects
	.left
		h1 Наши проекты
		ul
			li
				a(href="#") 
					h2 Хинкали Хаус
				p Ресторан грузинской кухни
			li
				a(href="#") 
					h2 Оджахури
				p Кулинарная лавка
			li
				a(href="#") 
					h2 Хинкали Хаус
				p Ресторан грузинской кухни
			li
				a(href="#") 
					h2 Кулинари
				p Грузинская кухня
			li
				a(href="#") 
					h2 Mochi
				p Ресторан Японской кухни
			li
				a(href="#") 
					h2 Mochi
				p Ресторан Японской кухни
	.right
		ul
			li
				a(href="#")
					img(src="images/assets/khinkali-khaus.svg", alt="логотип")
			li
				a(href="#")
					img(src="images/assets/mochi.svg", alt="логотип")
			li
				a(href="#")
					img(src="images/assets/ojakhuri.svg", alt="логотип")
			li
				a(href="#")
					img(src="images/assets/ojakhuri.svg", alt="логотип")
			li
				a(href="#")
					img(src="images/assets/ojakhuri.svg", alt="логотип")
			li
				a(href="#")
					img(src="images/assets/ojakhuri.svg", alt="логотип")