header#site-header-mob
	.nav
		.ham-btn
			a(href="#")
				img(src="images/assets/ham-btn.svg", alt="меню")
		.nav-wrapper
			.close-btn
				a(href="#")
					img(src="images/assets/close-w.svg", alt="кнопка закрыть")
			ul.main-nav
				li
					a(href="#") О нас
				li
					a(href="#") Меню
				li
					a(href="#") Винная карта
				li
					a(href="#") Барная карта
				li
					a(href="#") Галерея

		//- .lang
		//- 	ul
		//- 		li
		//- 			a(href="#") english