header#site-header
	.nav
		ul.main-nav
			li
				a(href="#").active О нас
			li
				a(href="#") Меню
			li
				a(href="#") Винная карта
			li
				a(href="#") Барная карта
			li
				a(href="#") Галерея

		.lang
			ul
				li
					a(href="#") english