header#site-header-mob
	.nav
		.ham-btn
			a(href="#")
				img(src="images/assets/ham-btn.svg", alt="меню")
		.nav-wrapper
			.close-btn
				a(href="#")
					img(src="images/assets/close-w.svg", alt="кнопка закрыть")
			ul.main-nav
				li
					a(href="#").about-btn О нас
				li
					a(href="images/menu/ToucheMenu_AUTUMNnovember 11 2017.pdf" target="_black") Меню
				li
					a(href="images/menu/WineList_Touche2017_winter_final 10 2017.pdf" target="_black") Винная карта
				li
					a(href="images/menu/Bar_List_Touche_summer 05 2017.pdf" target="_black") Барная карта
				li
					a(href="#") Галерея

		//- .lang
		//- 	ul
		//- 		li
		//- 			a(href="#") english