section.text-block
	.wrapper
		h1 Планы на будущее
		p.
			Guliani Group — ресторанный холдинг, развивающий традиции грузинского гостеприимства в Москве.
		p.quote.
			Сегодня холдинг владеет ресторанами и кулинарными лавками «Оджахури», фаст-фудом «Хинкали Хаус» и кафе «Kulinari».
		p.
			Москвичи хорошо знают и любят грузинскую кухню, поэтому каждое заведение Guliani Group — это ее новое прочтение: будь то первый в Москве грузинский фастфуд «Хинкали Хаус» (где мы готовим хинкали всего за две минуты) или семейный во всех смыслах ресторан «Оджахури» (где песни и танцы пьянят не меньше вина).
		p. 
			Каждый грузин знает, что гость — это большое счастье, поэтому в ресторанах Guliani Group вас ждут не только вкусная домашняя еда, приготовленная по семейным рецептам, но и атмосфера искреннего гостеприимства. Встречать каждого гостя с открытым сердцем — вот что на грузинском значит «гулиани».
		p. 
			Мы вкладываем в свои рестораны всю душу, потому что знаем, что такое настоящая грузинская кухня.
		p. 
			Guliani Group. Делаем с душой.