.centerer {
	position: relative;
	width: 100%;
	height: calc(100% - 7rem);
	text-align: center;
	& .logo img {
		position: absolute;
		max-width: span(8);
		max-height: 50vh;
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
		animation-name: fadeDown;
		animation-duration: .6s;
		animation-timing-function: ease-in;
		animation-direction: normal;
	}
}

@keyframes fadeDown {
	0% {
		top: 43%;
		opacity: 0;
	}
	100% {
		top: 45%;
		opacity: 1;
	}
}


@media (min-width: map-get($breakpoints, b-large)){
	.centerer {
		height: calc(100% - 9rem);
		text-align: center;
		& .logo img {
			max-width: span(4);
			max-height: 50vh;
			top: 40%;
		}
	}
	@keyframes fadeDown {
		0% {
			top: 39%;
			opacity: 0;
		}
		100% {
			top: 40%;
			opacity: 1;
		}
	}
}