#site-header-mob {
	position: relative;
	background-color: white;
	& .nav {
		text-align: center;
		padding: 2rem;
		& .ham-btn {
			width: 3rem;
			height: 3rem;
			& a {
				display: block;
				width: 3rem;
				height: 3rem;
				& img {
					vertical-align: middle;
				}
			}
		}
		& .nav-wrapper {
			position: relative;
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0;
			left: -100%;
			z-index: 999;
			background-color: rgba(0,0,0,.92);
			transition: left .6s ease-out;
			& .close-btn {
				position: absolute;
				top: 3rem;
				right: 3rem;
				width: 3rem;
				height: 3rem;
			}
			& .main-nav {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
				& li {
					display: block;
					& a {
						position: relative;
						display: block;
						padding: 3rem 0;
						color: color(b-white);
						font-size: 4rem;
						font-weight: 500;
						transition: color .3s ease-in, background-color .3s ease-in;
						&:hover, &:active, &:focus {
							background-color: rgba(255,255,255,.3);
							text-decoration: none;
							color: color(primary);
						}
					}
				}
			}
		}
		& .nav-active {
			left: 0;
		}
	}
	& .lang {
		position: absolute;
		right: 2rem;
		top: 2rem;
		& ul {
			& li {
				& a {
					position: relative;
					display: block;
					color: color(text);
					font-weight: 700;
				}
			}
		}
	}
}

.active li{
	animation-name: fade-left;
	animation-duration: .6s;
	animation-timing-function: ease-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.active li:nth-child(1) {
	animation-delay: .1s;
}
.active li:nth-child(2) {
	animation-delay: .2s;
}
.active li:nth-child(3) {
	animation-delay: .3s;
}
.active li:nth-child(4) {
	animation-delay: .4s;
}
.active li:nth-child(5) {
	animation-delay: .5s;
}

@keyframes fade-left {
	0% {
		margin-left: -150px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}


@media (min-width: map-get($breakpoints, b-large)) {
	#site-header-mob {
		display: none;
	}
}