include pug/header

.site-wrapper
	.shade
	include pug/site-header-mob
	include pug/site-header
	.centerer
		.logo
			img(src="images/assets/touche-logo.svg", alt="логотип Touche")
		
		.contacts
			address
				ul
					li
						a(href="//yandex.ru/maps/213/moscow/?mode=search&text=Rochdelskaya%20Street%2C%2015%2C%20стр.%2022%2C%20Moskva%2C%20123022&sll=37.620393%2C55.753960&sspn=1.139832%2C0.476298&ll=37.562748%2C55.755586&z=16") Rochdelskaya Street, 15, стр. 22, Moskva, 123022
					li
						a(href="tel:84957987828") +7 (495) 798-78-28
			.social
				ul
					li
						a(href="//www.facebook.com/Touchewinebar/")
							img(src="images/assets/f-icon.svg", alt="fb")
					li
						a(href="//www.instagram.com/touchewinebar/")
							img(src="images/assets/i-icon.svg", alt="in")